<div class="user_container">
  <div class="user_shows_contents">
    <div class="user_shows_header">
      <h2 class="my_reviews_title">過去のレビュー</h2>
    </div>
    <div class="user_shows_box">
      <% current_user.reviews.each do |review| %>
        <ul class="user_show_box">
          <li class="user_show_header">
            <%= review.product.title %>
          </li>
          <li>
            <%= image_tag review.product.image_url, class: "user_show_image" %>
          </li>
          <li class="user_show_review">
            <%= review.review %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>