* {
  box-sizing: border-box;
  font-family: Hannari;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: "chikara";
  src: url("チカラヅヨク１.ttf") format("truetype");
}

@font-face {
  font-family: "genshin";
  src: url("GenShinGothic-Bold.ttf") format("truetype");
}

.product_title p {
font-family: "genshin";
}

.header {
  /*background-image: url(wallpaper-1990108_1280.jpg);*/
  /*background-size:cover;*/
  background: black;
  height: 150px;
  text-align: center;
  padding-top: 10px;
}
.footer {
  background-color: black;
  color: white;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size:15px;
}
.body {
  height: calc(100vh - 180px);
  overflow: scroll;
  background-color: #EEE;
}

.ramen_img {
  width: 60px;
  margin-right: 20px;
  margin-top: 5px;
}

.ramen_img2 {
  width: 60px;
  margin-left: 20px;
}

.title {
  margin-top: 5px;
  font-size: 4.5rem;
  color: white;
  font-family: "chikara";
  background: linear-gradient(transparent 80%, red 80%);
}

.title:hover {
  opacity: 0.7;
}

.tweet {
  display: flex;
  height: 55%;
  justify-content: center;
  margin-top: -10px;
}

.top {
  margin: 0 10px;
  color: white;
}

.top_search {
  color: white;
}

.top_my {
  color: white;
}

.logauto {
  color: white;
}


/*トップページヘッダー*/


.tweet_list {
  display: flex;
  position: absolute;  /*隣のアイコンが邪魔になるので、絶対値で位置を決める*/
  margin-top: 40px;
}

.tweet_list li {
  margin: 0 10px 8px;
  font-size: 18px;
  
}

.tweet_list li:hover {
  border-bottom: 2px solid red;
}

.header_user {
  width: 30%;
  margin-right: auto;
  margin-left: 5px;
  text-align: left;
  height: 100%;
}

.login_name:hover {
  opacity: 0.7;
}

.login_name {
  height: 25%;
  font-size: 100%;
  width: 75%;
  color: white;
}

.header_user img {
  height: 70%;
}

.header_user img:hover {
  opacity: 0.7;
}

.top {
  color: white;
}






/*トップページメイン*/


.review_container {
  width: 80%;
  display: flex;        /*ここでcontainerの下のindex_contentsとranking_bodyを横並びに*/
  margin: 10px auto;
  background: white;
}

.index_contents {
  width: 75%;
  margin: 20px auto;
}

.index_box {
  width: 100%;
  height: 100%;
  position: relative;
}

.index_title {
  font-size: 30px;
  margin-left: 10px;
}

.products_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  position: absolute;
}

.product_box {
  width: 170px;
  height: 170px;
  margin: 5px 10px;
  text-align: center;
  overflow: hidden;
  box-shadow: 3px 3px 8px gray;  /*影を付ける*/
}

.product_box:hover {
  border: 2px solid silver;
}

.product_title {
  height: 20%;
  width: 100%;
  display: flex;
  align-content: center;   /*コンテナ内全体の交差軸方向（初期値では縦方向）の揃え位置を指定する際に使用*/
  flex-wrap: wrap;
  background: #EEEEEE;
  font-size: 85%;
  color: black;
}

.product_title p {
  width: 100%;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /*比率を変えずにキレイに「中央で」トリミング*/
}

.thumbnail {
  width: 100%;
  height: 80%;
}

.product_address {
  font-size: 10px;
}







/*ランキング*/


.ranking_body {
  height: 100%;
  background: white;
  margin: 20px auto;
  padding: 10px;
  width: 25%;
}

.ranking_box {
  width: 100%;
  border-bottom: 1px solid;
  
}

.ranking_box:hover {
  
  padding: 2px;
}

.ranking_title {
  border-bottom: 1px solid #d7dbe2;
}

.ranking_image {
  width: 100%;
}

.ranking_image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  box-shadow: 3px 3px 8px grey;
}










/*商品詳細ページ*/


.show_contents {
  width: 50%;
  margin: 20px auto;
  padding: 5px;
  box-shadow: 1px 1px 10px grey;
}

.show_header {
  height: 10%;
}

.show_box {
  background-color: white;
  width: 100%;
  height: 50%;
}



/*お気に入り*/

.favorite_ajax {
  height: 7%;
  font-size: 23px;
  display: flex;
  justify-content: center;
  line-height: 30px;
}

.unlike:hover {
  font-size: 22px;
}
.unlike {
  color: gray;
}
.like {
  color: red;
}
.like:hover {
  font-size: 25px;
}


/*詳細ページ*/

.show_title {
  font-size: 25px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show_product_box {
  margin: 0 auto;
  width: 80%;
  height: 70%;
}

.show_thumbnail {
  width: 100%;
  height: 100%;

}

.show_thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.show_index {
  background: white;
  height: 50%;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

.product_address {
  height: 8%;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review_new {
  height: 10%;
  font-size: 23px;
  display: flex;
  justify-content: center;
}

.btn-square {
  padding: 0.5em 1em;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(3px);
  transform: translateY(3px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.btn-square:hover {
  font-size: 102%;
}

.show_index_header {
  height: 8%;
  display: flex;
  align-items: center;
  font-size: 20px;
  border-bottom: 1px solid;
}

.show_index_new {
  background: white;
  height: 50%;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -50px;
}

.reviews_index {
  height: 85%;
  margin-top: 15px;
}

.review_index {
  border-bottom: 1px dashed;
}

.review_index li {
  font-weight: bold;
}






/*検索ページ*/

.search_header {
  display: flex;
  align-items: center;
}

.search_section {
  padding: 5px;
}

.search_title {
  font-size: 30px;
  margin-right: 20px;
  margin-left: 10px;
}

.search_contents {
  width: 75%;
  margin: 20px auto;
}

.search_box {
  position: relative;
  width: 100%;
  height: 100%;
}

.search_form {
  border: 1px solid;
}

.search_button {
  border: 1px solid;
  width: 50px;
}





/*レビューページ*/


.review_form {
  height: 100%;
}

.new_review {
  height: 100%;
}

.rate_list {
  height: 10%;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.review_list {
  height: 30%;
  border: 4px double #ddd;
}

.rate_form {
  margin-left: 10px;
  border: 2px double #ddd;
}

.text_form {
  width: 100%;
  height: 100%;
}

.review_button {
  font-size: 23px;
  height: 10%;
  color: rgb(255, 255, 255);
  margin-top: 5px;
  padding: 0.5em 0.3em;
  background: rgb(102, 138, 216);
  border-bottom: 4px solid rgb(98, 114, 149);
  border-radius: 3px;
  text-align: center;
}

.review_button_submit {
  width: 100%;
}








/*ユーザーページ*/

.user-menu {
  width: 80%;
  margin: 15px auto 10px;
  padding: 10px;
}

.tab-menu li {
  display: inline-block;
  cursor: pointer;
  background-color: #AECD6A;
  border-top-right-radius: 10px;
  font-size: 10px;
  color: #fff;
  text-align: center;
}

#left {
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
#right {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
  margin-left: 10px;
}

.tab-menu li.selected {
  background-color: #fff;
  color: #AECD6A;
}

.contents .right {
  display: none;
}

.user_shows_box {
  display: flex;
  flex-wrap: wrap;
  background: white;
}

.user_show_box {
  text-align: center;
  box-shadow: gray 1px 1px 10px;
  margin: 8px auto;
  overflow: hidden;
  width: 320px;
  background: white;
}

.user_show_image {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.user_show_review {
  background: #DDDDDD;
  height: 40px;
  line-height: 40px;
}

.user_show_header {
  font-family: "genshin";
}






/*ログイン*/

.login_container {
  background: white;
  width: 40%;
  height: 80%;
  margin: 20px auto;
  text-align: center;
}

.log_in_header {
  height: 20%;
}

.log_in_main {
  height: 40%;
}

.sign_up_container {
  background: white;
  width: 40%;
  height: 80%;
  margin: 20px auto;
  text-align: center;
}

.sign_up_header {
  height: 10%;
}

.sign_up_main {
  height: 60%;
}
