<div class="search_contents">
  <div class="search_box">
    <div class="search_header">
      <h2 class="search_title">検索する</h2>

      <%= form_tag("/products/search_show", class: "search_section", method: :get) do %>
        <input class="search_form" name="keyword" placeholder="店舗名で検索" type="text" value="">
        <input class="search_button" type="submit" value="検索"></button>
      <% end %>
    </div>
  </div>
  
</div>